/* Font */
@font-face {
    font-family: 'nobileregular';
    src: url('nobile-regular-webfont.woff2') format('woff2'),
        url('nobile-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Style Utama */
body {
    font: 18px/36px 'nobileregular', arial, sans-serif;
    background-color: lightslategray;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 2px 1px 2px white,
    3px 1px 3px white;
}

.container {
    width: 680px;
    background-color: gray;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.gallery li {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid lightgray;
    float: left;
    margin-right: 10px;
    position: relative;
}

.gallery li,
.gallery li a img,
.gallery li span {
    border-radius: 50%;
    align-self: center;
}

.gallery li a img {
    height: 150px;
    width: 150px;
}

.gallery li span {
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 160px;
    color: black;
    text-shadow: -2px 0 2px white;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px;
    opacity: 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    opacity: 1;
}

.overlay img {
    max-height: 100%;
    box-shadow: 0 0 100px 10px rgba(255,255,255,.5);
    border-radius: 10px;
}

.overlay:target img {
    animation: zoomdanfade 1s;
}

.overlay .close {
    position: absolute;
    bottom: 50px;
    left: 48%;
    color: red;
    text-decoration: none;
    background-color: white;
    border: 1px solid red;
    line-height: 15px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: tombolclose .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .previous {
    animation: fade .5s .5s forwards;
}

/* Navigation */
.next, .previous {
    width: 64px;
    height: 64px;
    background-image: url(../img/Next.png);
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    margin-left: 50px;
    opacity: 0;
}

.previous {
    background-image: url(../img/Previous.png);
    margin-left: -100px;
}



/* animasi */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomdanfade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes tombolclose {
    0% {
        opacity: 0;
        margin-bottom: -40px;
    }
    100% {
        opacity: 1;
        margin-bottom: 0;
    }
}